<component name="ArtifactManager">
  <artifact type="war" name="springmvc_06_interception:war">
    <output-path>$PROJECT_DIR$/springmvc_06_interception/target</output-path>
    <properties id="maven-jee-properties">
      <options>
        <module>springmvc_06_interception</module>
        <packaging>war</packaging>
      </options>
    </properties>
    <root id="archive" name="springmvc_06_interception-1.0-SNAPSHOT.war">
      <element id="artifact" artifact-name="springmvc_06_interception:war exploded" />
    </root>
  </artifact>
</component>