<component name="ArtifactManager">
  <artifact type="war" name="springmvc_01_primer:war">
    <output-path>$PROJECT_DIR$/springmvc_01_primer/target</output-path>
    <properties id="maven-jee-properties">
      <options>
        <module>springmvc_01_primer</module>
        <packaging>war</packaging>
      </options>
    </properties>
    <root id="archive" name="springmvc_01_primer-1.0-SNAPSHOT.war">
      <element id="artifact" artifact-name="springmvc_01_primer:war exploded" />
    </root>
  </artifact>
</component>